<div class="container">
    <form action="/houses/<%= house._id %>?_method=PUT" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label>Item Name</label>
            <input type="text" name="item_name" value="<%= house.item_name %>" class="form-control">
        </div>
        <div class="form-group">
            <label>Description</label>
            <input type="text" name="description" value="<%= house.description %>" class="form-control">
        </div>
        <div class="form-group">
            <label>Price</label>
            <input type="number" name="price" value="<%= house.price %>" class="form-control">
        </div>
        <div class="form-group">
            <label>Picture</label>
            <input type="file" class="form-control" name="picture" value="<%= house.picture %>" accept="image/*" required>
        </div>
        <button>Submit</button>
    </form>
</div>